<div class="well bs-component"%>
  <%= form_for event do |f| %>
    <fieldset class="form-horizontal">
      <div class="form-group label-static <%= 'has-warning' if event.errors[:title].present? %>">
        <%= f.label :title, Event.human_attribute_name(:title), class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= f.text_field :title, class: 'form-control', placeholder: 'event.placeholder.title'.t, autofocus: true %>
          <% if event.errors[:title].present? %>
            <span class="help-block"><%= event.errors[:title].first %></span>
          <% end %>
        </div>
      </div>

      <div class="form-group label-static <%= 'has-warning' if event.errors[:location].present? %>">
        <%= f.label :location, Event.human_attribute_name(:location), class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= f.text_field :location, class: 'form-control', placeholder: 'event.placeholder.location'.t %>
          <% if event.errors[:location].present? %>
            <span class="help-block"><%= event.errors[:location].first %></span>
          <% end %>
        </div>
      </div>

      <div class="form-group label-static <%= 'has-warning' if event.errors[:date].present? %>">
        <%= f.label :date, Event.human_attribute_name(:date), class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= f.date_field :date, class: 'form-control', placeholder: 'event.placeholder.date'.t %>
          <% if event.errors[:date].present? %>
            <span class="help-block"><%= event.errors[:date].first %></span>
          <% end %>
        </div>
      </div>

      <div class="form-group label-static <%= 'has-warning' if event.errors[:cost_from_members_budget].present? %>">
        <%= f.label :cost_from_members_budget, Event.human_attribute_name(:cost_from_members_budget), class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= f.number_field :cost_from_members_budget, class: 'form-control', placeholder: 'event.placeholder.cost'.t %>
          <% if event.errors[:cost_from_members_budget].present? %>
            <span class="help-block"><%= event.errors[:cost_from_members_budget].first %></span>
          <% end %>
        </div>
      </div>

      <div class="form-group label-static <%= 'has-warning' if event.errors[:cost_from_team_budget].present? %>">
        <%= f.label :cost_from_team_budget, Event.human_attribute_name(:cost_from_team_budget), class: 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= f.number_field :cost_from_team_budget, class: 'form-control', placeholder: 'event.placeholder.cost'.t %>
          <% if event.errors[:cost_from_team_budget].present? %>
            <span class="help-block"><%= event.errors[:cost_from_team_budget].first %></span>
          <% end %>
        </div>
      </div>

      <nav>
        <%= link_to 'Cancel', (event.new_record? ? dashboard_path : event_path(event)), class: 'btn btn-default' %>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </nav>
    </fieldset>
  <% end %>
</div>