<div class="well bs-component"%>
  <%= form_for event do |f| %>
    <fieldset>
      <div class="form-group label-static <%= 'has-warning' if event.errors[:title].present? %>">
        <%= f.label :title, Event.human_attribute_name(:title), class: 'control-label' %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'event.placeholder.title'.t, autofocus: true %>
        <% if event.errors[:title].present? %>
          <span class="help-block"><%= event.errors[:title].first %></span>
        <% end %>
      </div>

      <div class="form-group label-static <%= 'has-warning' if event.errors[:location].present? %>">
        <%= f.label :location, Event.human_attribute_name(:location), class: 'control-label' %>
        <%= f.text_field :location, class: 'form-control', placeholder: 'event.placeholder.location'.t %>
        <% if event.errors[:location].present? %>
          <span class="help-block"><%= event.errors[:location].first %></span>
        <% end %>
      </div>

      <div class="form-group label-static <%= 'has-warning' if event.errors[:date].present? %>">
        <%= f.label :date, Event.human_attribute_name(:date), class: 'control-label' %>
        <%= f.text_field :date, class: 'form-control', placeholder: 'event.placeholder.date'.t, data: {
          provide: 'datepicker',
          'date-format': "yyyy-mm-dd"
        } %>
        <% if event.errors[:date].present? %>
          <span class="help-block"><%= event.errors[:date].first %></span>
        <% end %>
      </div>

      <div class="form-group label-static <%= 'has-warning' if event.errors[:total_cost].present? %>">
        <%= f.label :total_cost, Event.human_attribute_name(:total_cost), class: 'control-label' %>
        <%= f.number_field :total_cost, class: 'form-control', placeholder: 'event.placeholder.total_cost'.t %>
        <% if event.errors[:total_cost].present? %>
          <span class="help-block"><%= event.errors[:total_cost].first %></span>
        <% end %>
      </div>

      <nav>
        <%= link_to 'Cancel', (event.new_record? ? dashboard_path : event_path(event)), class: 'btn btn-default' %>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </nav>
    </fieldset>
  <% end %>
</div>