<section class="events bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-component">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th><%= Event.human_attribute_name(:date) %></th>
              <th><%= Event.human_attribute_name(:title) %></th>
              <th><%= Event.human_attribute_name(:location) %></th>
              <th><%= Event.human_attribute_name(:total_attendees) %></th>
              <th><%= Event.human_attribute_name(:cost_per_member) %></th>
            </tr>
          </thead>
          <tbody>
            <% events.each do |event| %>
              <%= content_tag :tr, class: 'event_row', data: {endpoint: event_path(event)} do %>
                <td><%= event.date %></td>
                <td><%= event.title %></td>
                <td><%= event.location %></td>
                <td class="numeric_field"><%= event.total_attendees %></td>
                <td class="numeric_field"><%= as_currency event.cost_per_member, precision: 2 %></td>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <% if admin_access? %>
          <% if local_assigns[:editable] %>
            <nav>
              <%= link_to new_event_path, class: 'btn btn-primary btn-fab' do %>
                <%= material_icon.add %>
              <% end %>
            </nav>
          <% end %>
          <script>
            $(function () {
              $('.event_row').click(function () {
                var element = $(this);
                element.addClass('warning', {duration: 1000});
                setTimeout(function () {
                  element.removeClass('warning');
                  location.href = element.data('endpoint');
                }, 200);
              });
            });
          </script>
        <% end %>
      </div>
    </div>
  </div>
</section>