<section class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-component">
        <div class="page-header">
          <h2>
            <%= @event.title %>
          </h2>
          <p class="lead"><%= @event.location %> @ <%= @event.date %></p>
          <p>
            <%= as_currency @event.cost_from_members_budget %> (<%= Event.human_attribute_name(:cost_from_members_budget) %>) +
            <%= as_currency @event.cost_from_team_budget    %> (<%= Event.human_attribute_name(:cost_from_team_budget)    %>) =
            <%= as_currency @event.total_cost               %> (<%= Event.human_attribute_name(:total_cost)               %>)
            <% if admin_access? %>
              <span class="inline-right btn-group-ss">
                <%= link_to edit_event_path(@event), class: 'btn btn-primary btn-fab' do %>
                  <%= material_icon.mode_edit.md_18 %>
                <% end %>
              </span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="members bs-component">
        <h2><%= Event.human_attribute_name(:attendees) %></h2>
        <%= render 'members/list', members: @members, event: @event, selectable: true %>
        <nav>
          <%= link_to event_expense_path(@event), method: :put, class: 'btn btn-raised btn-primary' do %>
            <%= 'event.calculate_spent_budget'.t %>
            <%= material_icon.autorenew %>
          <% end %>
        </nav>
      </div>
    </div>
  </div>
</section>

<script>
  $(function () {
    var init_member_selector = function (members) {
      $.each(members, function (index, member) {
        $('#member_' + member.id).addClass('attended');
      });

      <% if admin_access? %>
        $('.members .selectable').ripples().click(function () {
          var element = $(this);
          element.addClass('loading');
          $.ajax($(this).data('endpoint'), {
            type: 'put'
          }).done(function (data) {
            if (data.status == 'attended') {
              element.addClass('attended', {duration: 300});
            } else {
              element.removeClass('attended', {duration: 300});
            }
          }).fail(function (data) {
            element.effect('highlight', {color: '#f66'}, 1000);
          }).always(function (data) {
            element.removeClass('loading');
          });
        });
      <% end %>
    };

    $.getJSON('<%= event_members_path(@event) %>', init_member_selector);
  });
</script>