<!DOCTYPE html>
<html>
<head>
  <title><%= 'site.title'.t %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, class: controller_name do %>
  <%= render 'layouts/navigation' %>
  <div class="container">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%= yield :bottom %>
  <%= form_tag connect_facebook_path, id: 'fb_login_form' %>
  <script>
    $(function () {
      $.material.init();
    });

    var login_with_fb_cookie = function () {
      FB.login(function (response) {
        if (response.authResponse) {
          $('#fb_login_form').submit();
        }
      }, {scope: 'email'});
    };

    window.fbAsyncInit = function() {
      FB.init({
        appId   : '<%= Connect::Facebook.config[:client_id] %>',
        cookie  : true,
        xfbml   : true,
        version : '<%= FbGraph2.api_version %>'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = '//connect.facebook.net/en_US/sdk.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <%= render 'layouts/google_analytics' %>
<% end %>
</html>
