<!DOCTYPE html>
<html>
<head>
  <title><%= 'site.title'.t %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, class: controller_name do %>
  <%= render 'layouts/navigation' %>
  <div class="container">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
  <%= yield :bottom %>
  <script>
    $(function () {
      $.material.init();
    });
  </script>
<% end %>
</html>
