<section class="bs-docs-section">
  <div class="row">
    <% members.each_slice(
      [(members.count / 3.0).ceil, 10].max
    ) do |slice| %>
      <div class="col-md-4">
        <div class="bs-component">
          <div class="list-group">
            <% slice.each do |member| %>
              <%
                options = {
                  id: "member_#{member.id}",
                  class: 'list-group-item'
                }
                if local_assigns[:selectable]
                  options[:class] += ' selectable'
                  options[:data] = {
                    endpoint: event_member_path(event, member)
                  }
                end
              %>
              <%= content_tag :div, options do %>
                <div class="row-action-primary">
                  <% if local_assigns[:editable] %>
                    <%= link_to material_icon.tag_faces, member_path(member), class: 'icon-link' %>
                  <% else %>
                    <%= material_icon.tag_faces %>
                  <% end %>
                </div>
                <div class="row-content">
                  <div class="least-content"><%= as_currency member.remaining_budget %></div>
                  <h4 class="list-group-item-heading">
                    <%= member.display_name %>
                  </h4>
                  <p class="list-group-item-text"><%= member.description %></p>
                </div>
              <% end %>
              <div class="list-group-separator"></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if admin_access? && local_assigns[:editable] %>
      <div class="col-md-12">
        <div class="bs-component">
          <nav>
            <%= link_to new_member_path, class: 'btn btn-primary btn-fab' do %>
              <%= material_icon.add %>
            <% end %>
          </nav>
        </div>
      </div>
    <% end %>
  </div>
</section>