<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <h2><%= 'member.list'.t %></h2>
      <p class="lead"><%= 'member.how_to_add'.t %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="bs-component">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bs-component">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="bs-component">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
          <div class="list-group-item">
            <div class="row-action-primary">
              <%= material_icon.tag_faces %>
            </div>
            <div class="row-content">
              <div class="least-content">3,500y</div>
              <h4 class="list-group-item-heading">Tile with a label</h4>
              <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
            </div>
          </div>
          <div class="list-group-separator"></div>
        </div>
      </div>
    </div>
  </div>
</div>