<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-component">
        <h2>
          <%= @member.display_name %>
          <% if admin_access? %>
            <small><%= link_to material_icon.mode_edit.md_18, edit_member_path(@member) %></small>
          <% end %>
        </h2>
        <p class="lead">
          <%= number_to_currency @member.initial_budget,   unit: '¥', precision: 0 %> -
          <%= number_to_currency @member.spent_budget,     unit: '¥', precision: 0 %> =
          <%= number_to_currency @member.remaining_budget, unit: '¥', precision: 0 %>
        </p>
        <p><%= @member.description %></p>
      </div>
    </div>
  </div>
</div>