<section class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-component">
        <div class="page-header">
          <h2>
            <%= @member.display_name %>
            <% if admin_access? %>
              <small><%= link_to material_icon.mode_edit.md_18, edit_member_path(@member) %></small>
            <% end %>
          </h2>
          <p class="lead"><%= @member.description %></p>
          <p>
            <%= number_to_currency @member.initial_budget,   unit: '¥', precision: 0 %> (<%= Member.human_attribute_name(:initial_budget) %>) -
            <%= number_to_currency @member.spent_budget,     unit: '¥', precision: 0 %> (<%= Member.human_attribute_name(:spent_budget) %>) =
            <%= number_to_currency @member.remaining_budget, unit: '¥', precision: 0 %> (<%= Member.human_attribute_name(:remaining_budget) %>)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <h2><%= 'member.event_history'.t %></h2>
      <%= render 'events/list', events: @events %>
    </div>
  </div>
</section>