<section class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-component">
        <div class="page-header">
          <h2>
            <%= @member.display_name %>
          </h2>
          <p class="lead"><%= @member.description %></p>
          <p>
            <%= as_currency @member.initial_budget   %> (<%= Member.human_attribute_name(:initial_budget)   %>) -
            <%= as_currency @member.spent_budget     %> (<%= Member.human_attribute_name(:spent_budget)     %>) =
            <%= as_currency @member.remaining_budget %> (<%= Member.human_attribute_name(:remaining_budget) %>)
            <%= render 'members/edit_button', member: @member if admin_access? %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <h2><%= 'member.event_history'.t %></h2>
      <%= render 'events/list', events: @events %>
    </div>
  </div>
</section>