<section class="events bs-docs-section">
  <div class="row">
    <div class="col-md-12">
      <div class="bs-component">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th><%= Account.human_attribute_name(:display_name) %></th>
              <th><%= Account.human_attribute_name(:role) %></th>
              <th><%= Account.human_attribute_name(:last_logged_in_at) %></th>
              <% if admin_access? %>
                <th><%= 'account.control'.t %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% accounts.each do |account| %>
              <tr>
                <td><%= account.display_name %></td>
                <td><%= account.role %></td>
                <td><%= 'datetime.ago'.t(distance: time_ago_in_words(account.last_logged_in_at)) %></td>
                <% if admin_access? %>
                  <td>
                    <% if account.pending? %>
                      <%= link_to 'account.approve'.t, approve_account_path(account), method: :post %>
                    <% else %>
                      --
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>